# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
df = pd.read_csv('../Admission_Predict.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../Admission_Predict.csv'

Remove trailing spaces at the end of the column names if there are any.

In [ ]:
# your code here
df.columns = df.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [ ]:
# your code here
df.head()

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [3]:
# your code here
print(df.isnull().values.any())#Valores vacios.
a_variable = df.isnull().sum().sum()#Cuantos valores vacios. 
print(f"There are {a_variable} empty values.")

NameError: name 'df' is not defined

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [4]:
# your code here
df.set_index('Serial No.',inplace = True,drop = False)

NameError: name 'df' is not defined

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [5]:
# your code here
df.set_index(['Serial No.','GRE Score','CGPA'],inplace = True,drop = False)

NameError: name 'df' is not defined

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [203]:
df.set_index(['GRE Score','CGPA'],inplace = True)

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [204]:
# your code here
df.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [205]:
# your code here
filter_one = df.query('CGPA > 9 and Research == 1' )
len(filter_one)

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [206]:
# your code here
filter_2 = df.query('CGPA > 9 and SOP < 3.5' )

In [207]:
filter_2['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [208]:
def standardize(column):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    return column.apply(lambda x: (x-np.mean(column))/np.std(column))

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [209]:
# your code here
admissions = pd.DataFrame()
df['CGPA_std'] = standardize(df['CGPA'])
df['GRE_std'] = standardize(df['GRE Score'])
df['LOR_std'] = standardize(df['LOR'])
admissions = df

In [210]:
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [211]:
# Libraries
from random import choices

In [212]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [213]:
# your code here
admissions['admissions_column']=admissions.lookup(admissions.index, decision_choice)

/Users/albertofernandez/miniconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [214]:
# your code here
bins = [-10,0.8,10]
admissions['decision'] = pd.cut(admissions['admissions_column'], bins, labels=[0,1])

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [215]:
# your code here
filter_3 = df.query('decision > 0')
len(filter_3)

90

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [216]:
# your code here
def clean(row):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    return re.sub("\!|\'|\?","",row).replace(" ", "_").lower()

In [217]:
admissions.columns = list(map(clean,admissions.columns))

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [224]:
# your code here
def adjusted(U_rating,GRE):
    if U_rating >= 4:
        new_GRE = GRE + 10
        return new_GRE
    else:
        return GRE

In [225]:
admissions.columns

Index(['gre_score', 'cgpa', 'serial_no.', 'toefl_score', 'university_rating',
       'sop', 'lor', 'research', 'chance_of_admit', 'cgpa_std', 'gre_std',
       'lor_std', 'admissions_column', 'decision', 'adjusted_gre'],
      dtype='object')

In [226]:
admissions['gre_score']= admissions.apply(lambda x: adjusted(x['university_rating'],x['gre_score']),axis = 1)

In [227]:
admissions['adjusted_gre'] = pd.cut(admissions['gre_score'], 4)

In [228]:
admissions

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,admissions_column,decision,adjusted_gre
0,347.0,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1,"(342.5, 360.0]"
1,316.0,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,"(307.5, 325.0]"
2,322.0,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0,"(307.5, 325.0]"
3,314.0,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,"(307.5, 325.0]"
4,350.0,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.234884,1,"(342.5, 360.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324.0,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.076840,0,"(307.5, 325.0]"
381,325.0,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.076840,0,"(307.5, 325.0]"
382,340.0,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.417729,1,"(325.0, 342.5]"
383,312.0,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,0.635019,0,"(307.5, 325.0]"
384,343.0,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1,"(342.5, 360.0]"