# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [69]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import re
import lxml
import tweepy
from tweepy import OAuthHandler

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [70]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [71]:
response = requests.get(url)
html = response.content
soup = bs(html, "html.parser")

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [72]:
# your code here
h1=soup.find_all('h1',{'class':'h3 lh-condensed'})

In [73]:
tag_a = [tag.a for tag in h1]
tag_string = [str(tag) for tag in tag_a]
len(tag_string)

25

In [74]:
nombres = []
for i in range(0,25):
    nombres.append(tag_string[i].split('='))

len(nombres)

25

In [75]:
nombre = []
for i in range(0,25):
    nombre.append(nombres[i][4])

In [76]:
a =[]
b =[]
for i in nombre:
    a.append(i.split('\n')[0])
    b.append(i.split('\n')[1])

In [77]:
a_clean=[]
a_clean2=[]
b_clean=[]
for i in a:
    a_clean.append(i.replace('>',''))
for i in a_clean:
    a_clean2.append(i.replace('"',''))
for i in b:
    b_clean.append(i.replace(' ',''))

In [78]:
nombre_completo=[]
for i in range(len(b_clean)):
    nombre_completo.append(b_clean[i]+' '+'('+a_clean2[i]+')')
nombre_completo

['AntonBabenko (/antonbabenko)',
 'FernandGaliana (/derailed)',
 'JoeChen (/unknwon)',
 'AlexGoodman (/wagoodman)',
 'kezhenxu94 (/kezhenxu94)',
 'GeorgiosKonstantopoulos (/gakonst)',
 'ZacharyRice (/zricethezav)',
 'SteveMacenski (/SteveMacenski)',
 'AsimAslam (/asim)',
 'EvanWallace (/evanw)',
 'GajusKuizinas (/gajus)',
 'ElizaWeisman (/hawkw)',
 'JohnLindquist (/johnlindquist)',
 'RijkvanZanten (/rijkvanzanten)',
 'RobertMosolgo (/rmosolgo)',
 'MariuszNowak (/medikoo)',
 'CaseyDavenport (/caseydavenport)',
 'RichHarris (/Rich-Harris)',
 'R.I.Pienaar (/ripienaar)',
 'CarlosAlexandroBecker (/caarlos0)',
 'ShivamMathur (/shivammathur)',
 'Chocobozzz (/Chocobozzz)',
 'AlexPotsides (/achingbrain)',
 'RicoSta.Cruz (/rstacruz)',
 'StephenCelis (/stephencelis)']

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [79]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'

In [80]:
response2 = requests.get(url2)
html2 = response2.content
soup2 = bs(html2, "html.parser")

In [81]:
# your code here
stew2=soup2.find_all('h1',{'class':'h3 lh-condensed'})

In [82]:
tag_a2= [tag.a for tag in stew2]

In [83]:
repo=[]
for tag in tag_a2:
    repo.append(tag['href'])
for i in repo:
    print(re.sub('^\W','', i))

tiangolo/fastapi
ytdl-org/youtube-dl
jfrog/log4j-tools
fox-it/log4j-finder
niubiqigai/turtle
psf/black
PrefectHQ/prefect
kakaobrain/minDALL-E
luminoleon/epicgames-claimer
saleor/saleor
python-poetry/poetry
PaddlePaddle/PaddleClas
gto76/python-cheatsheet
facebookresearch/pytorch3d
zulip/zulip
encode/django-rest-framework
yt-dlp/yt-dlp
IAmPara0x/Yuno
PaddlePaddle/PaddleOCR
Pycord-Development/pycord
PaddlePaddle/PaddleSpeech
facebookresearch/moco
AdnanHodzic/auto-cpufreq
qubvel/segmentation_models.pytorch
apple/ARKitScenes

#### Display all the image links from Walt Disney wikipedia page.

In [84]:
# This is the url you will scrape in this exercise
url3 = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [85]:
# your code here
response3 = requests.get(url3)
html3 = response3.content
soup3 = bs(html3, "html.parser") 
stew3=soup3.find_all('img')

In [86]:
images=[]
for tag in stew3:
    images.append(tag['src'])
for i in images:
    print(re.sub('^\W','', i))

/upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png
/upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG
/upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg
/upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG
/upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg
/upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg
/upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png
/upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg
/upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png
/upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png
/upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png
/upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png
/upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png
/en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1
static/images/footer/wikimedia-button.png
static/images/footer/poweredby_mediawiki_88x31.png

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [87]:
# This is the url you will scrape in this exercise
url4 ='https://en.wikipedia.org/wiki/Python'

In [88]:
# your code here
response4 = requests.get(url4)
html4 = response4.content
soup4 = bs(html4, "html.parser") 
stew4=soup4.find_all('a',{'href':re.compile('/wiki/Python')})

In [89]:
links=[]
for tag in stew4:
    links.append(tag['href'])
links

['https://en.wiktionary.org/wiki/Python',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(programming_language)',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Python',
 '/wiki/Python',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://az.wikipedia.org/wiki/Python',
 'https://be.wikipedia.org/wiki/Python',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fr.wikipedia.org/wiki/Python',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://tr.wikipedia.org/wiki/Python',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [90]:
# This is the url you will scrape in this exercise
url5 = 'http://uscode.house.gov/download/download.shtml'

In [91]:
# your code here
response5 = requests.get(url5)
html5 = response5.content
soup5 = bs(html5, "html.parser") 
stew5=soup5.find_all('div',{'class':'usctitlechanged'})
stew5

[<div class="usctitlechanged" id="us/usc/t31">

           Title 31 - Money and Finance <span class="footnote"><a class="fn" href="#fn">٭</a></span>
 </div>]

In [92]:
tag_us = [tag.text.replace('\n','').strip() for tag in stew5]
   
tag_us

['Title 31 - Money and Finance ٭']

#### Find a Python list with the top ten FBI's Most Wanted names.

In [93]:
# This is the url you will scrape in this exercise
url6 = 'https://www.fbi.gov/wanted/topten'

In [94]:
# your code here
response6 = requests.get(url6)
html6 = response6.content
soup6 = bs(html6, "html.parser") 
stew6=soup6.find_all('h3',{'class':'title'})

In [95]:
tag_fbi = [tag.a.string for tag in stew6]
tag_fbi

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [96]:
# This is the url you will scrape in this exercise
url7 = 'https://www.emsc-csem.org/Earthquake/'

In [97]:
# your code here
response7 = requests.get(url7)
html7 = response7.content
df_list = pd.read_html(html7)[3].iloc[:,[3,4,6,11]]
df_list.columns=['Date and time','Latitude','Longitude','Region name']
df_list.head(20)

,Date and time,Latitude,Longitude,Region name
0,2021-12-18 15:57:54.008min ago,35.45,3.62,STRAIT OF GIBRALTAR
1,2021-12-18 15:38:33.027min ago,0.53,99.70,"NORTHERN SUMATRA, INDONESIA"
2,2021-12-18 15:25:32.640min ago,34.76,97.55,OKLAHOMA
3,2021-12-18 15:23:23.142min ago,35.60,3.62,STRAIT OF GIBRALTAR
4,2021-12-18 15:12:55.153min ago,37.70,1.69,SPAIN
5,2021-12-18 15:05:02.01hr 01min ago,7.28,121.18,FLORES SEA
6,2021-12-18 15:01:15.71hr 04min ago,35.34,3.53,STRAIT OF GIBRALTAR
7,2021-12-18 14:53:14.31hr 12min ago,67.96,150.15,NORTHERN ALASKA
8,2021-12-18 14:37:25.81hr 28min ago,42.91,1.46,PYRENEES
9,2021-12-18 14:20:44.31hr 45min ago,33.39,116.30,SOUTHERN CALIFORNIA
10,2021-12-18 14:12:58.11hr 53min ago,17.95,66.88,PUERTO RICO REGION
11,2021-12-18 13:56:36.02hr 09min ago,2.94,119.50,"SULAWESI, INDONESIA"
12,2021-12-18 13:49:55.42hr 16min ago,19.22,155.51,"ISLAND OF HAWAII, HAWAII"
13,2021-12-18 13:39:27.92hr 26min ago,3.28,68.38,CHAGOS ARCHIPELAGO REGION
14,2021-12-18 13:39:05.02hr 26min ago,7.50,121.74,FLORES SEA
15,2021-12-18 13:35:56.02hr 30min ago,7.22,121.08,FLORES SEA
16,2021-12-18 13:32:32.42hr 33min ago,19.20,155.40,"ISLAND OF HAWAII, HAWAII"
17,2021-12-18 13:31:00.02hr 35min ago,7.69,128.73,"KEPULAUAN BARAT DAYA, INDONESIA"
18,2021-12-18 13:16:16.02hr 49min ago,9.72,113.95,"SOUTH OF JAVA, INDONESIA"
19,2021-12-18 12:42:07.03hr 23min ago,31.79,66.81,"SAN JUAN, ARGENTINA"

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [98]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url8 = 'https://twitter.com/'

In [101]:
# your code here
user_name = 'lenadanigarcia'
import snscrape.modules.twitter as sntwitter
scraped_tweets = sntwitter.TwitterSearchScraper('from:'+user_name).get_items()
df_lena = pd.DataFrame(scraped_tweets)[['date', 'id', 'content', 'username']]
df_lena

,date,id,content,username
0,2021-12-17 20:02:00+00:00,1471933718084399110,Nuestros espacios están cuidadosamente creados...,lenadanigarcia
1,2021-12-15 19:55:32+00:00,1471207314967437319,Cuando un entrante tiene mucha leña para ofrec...,lenadanigarcia
2,2021-12-14 20:05:37+00:00,1470847464156672001,Ver llegar la tarta di rose a tu mesa y otras ...,lenadanigarcia
3,2021-12-13 20:01:46+00:00,1470484110200262660,Probar el yakipincho de wagyu A5 es trasladars...,lenadanigarcia
4,2021-12-12 19:55:39+00:00,1470120181901017099,LEÑERO 🔥 Es el cóctel que da más leña.🔥\n\nSe ...,lenadanigarcia
...,...,...,...,...
554,2020-07-07 13:17:10+00:00,1280491044648476674,El resultado de La burger que le dió sentido a...,lenadanigarcia
555,2020-07-07 08:54:35+00:00,1280424965964214273,@mons_cm @MisterEspeto @vfdlMarcos @mr 🔥Gracias🔥,lenadanigarcia
556,2020-07-07 08:07:59+00:00,1280413236890927104,@mons_cm @MisterEspeto @vfdlMarcos @mr Problem...,lenadanigarcia
557,2020-07-06 10:40:08+00:00,1280089141762560000,"At #LEÑA, you don’t just get to sample our dis...",lenadanigarcia
558,2020-07-06 10:39:39+00:00,1280089016323489792,En #LEÑA no solo puedes degustar nuestros plat...,lenadanigarcia

In [102]:
len(df_lena)

559

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [105]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url9 = 'https://twitter.com/'

In [106]:
# your code here

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [107]:
# This is the url you will scrape in this exercise
url10 = 'https://www.wikipedia.org/'

In [108]:
# your code here
response10 = requests.get(url10)
html10 = response10.content
soup10 = bs(html10, "html.parser")

In [109]:
language= [tag.strong.string for tag in soup10.find_all('a',{'class':'link-box'})]
language

['English',
 '日本語',
 'Русский',
 'Deutsch',
 'Español',
 'Français',
 '中文',
 'Italiano',
 'Português',
 'Polski']

In [110]:
num_art= [tag.bdi.string for tag in soup10.find_all('a',{'class':'link-box'})]
num_art

['6\xa0383\xa0000+',
 '1\xa0292\xa0000+',
 '1\xa0756\xa0000+',
 '2\xa0617\xa0000+',
 '1\xa0717\xa0000+',
 '2\xa0362\xa0000+',
 '1\xa0231\xa0000+',
 '1\xa0718\xa0000+',
 '1\xa0074\xa0000+',
 '1\xa0490\xa0000+']

In [111]:
num=[]
for i in num_art:
    num.append(re.sub('\xa0',"",i))

In [112]:
num

['6383000+',
 '1292000+',
 '1756000+',
 '2617000+',
 '1717000+',
 '2362000+',
 '1231000+',
 '1718000+',
 '1074000+',
 '1490000+']

In [113]:
art = [tag.span.string for tag in soup10.find_all('a',{'class':'link-box'})]
art

['articles',
 '記事',
 'статей',
 'Artikel',
 'artículos',
 'articles',
 '條目',
 'voci',
 'artigos',
 'haseł']

In [114]:
order = list(zip(language, num, art))
order

[('English', '6383000+', 'articles'),
 ('日本語', '1292000+', '記事'),
 ('Русский', '1756000+', 'статей'),
 ('Deutsch', '2617000+', 'Artikel'),
 ('Español', '1717000+', 'artículos'),
 ('Français', '2362000+', 'articles'),
 ('中文', '1231000+', '條目'),
 ('Italiano', '1718000+', 'voci'),
 ('Português', '1074000+', 'artigos'),
 ('Polski', '1490000+', 'haseł')]

#### A list with the different kind of datasets available in data.gov.uk.

In [115]:
# This is the url you will scrape in this exercise
url11 = 'https://data.gov.uk/'

In [116]:
# your code here
response11 = requests.get(url11)
html11 = response11.content
soup11 = bs(html11, "html.parser")

In [117]:
stew11=soup11.find_all('h3',{'class':'govuk-heading-s dgu-topics__heading'})
tag_dataset = [tag.a.string for tag in stew11]
tag_dataset

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [118]:
# This is the url you will scrape in this exercise
url12 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [119]:
# your code here
response12 = requests.get(url12)
html12 = response12.content
df_list = pd.read_html(html12)[1]
df_list.head(10)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341.0,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300.0,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221.0,2.870%,Indo-European,Romance
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[12],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [120]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [121]:
# your code here

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [122]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [123]:
# your code here

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
# your code here

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here